
.cluster {
    display: flex;
    flex-wrap: nowrap;
    gap: var(--gutter, 1em);
    justify-content: var(--cluster-horizontal-alignment, flex-start);
    align-items: var(--cluster-vertical-alignment, center);
}