
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
pre {
  margin: 0;
}

body {
  min-height: 100vh;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

li img,
p img {
  display: inline-block;
  vertical-align: sub;
}

input,
button,
textarea,
select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
}

iframe {
  border: 0;
}

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}
